html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto 0 0;
    padding: 0;
}

.workspace {
    margin-top: -10px;
}

.content-wrapper, .content-wrapper>.content, .workspace {
    height: 100%;
}

.content-wrapper {
    padding-bottom: 10px;
}

.content-header {
    height: 30px;
}

.pageContent {
    height: 100%;
    overflow: auto;
}

.logo .imglogo {
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    max-height: 45px;
}

li.title-menu {

}

li.title-menu a.z-a, li.title-menu a.z-a:hover {
    color: #367fa9;
    cursor: default !important;
    margin-left: 5px !important;
    padding-bottom: 0px !important;
}

li.title-menu a span {
    font-size: 11px !important;
}

.z-listbox-body {

}

.table-view .z-listbox-body {
    background: white;
}

.sidebar-form .form-zcontrol a {
    background-color: #374850;
    border: 1px solid #5C5C5C;
}

.z-menupopup-separator {
    background: none !important;
}

.z-menu-content, .z-menuitem-content {
    line-height: 26px !important;
}

.z-borderlayout {
    background: none !important;
    width: 100% !important;
}

.crudview {

}

.crudview-header .z-toolbar {
    background: none;
    border: none;
}

.crudview-body {

}

.crudview-footer {
    margin: 4px;
}

.crudview-footer .btn-group {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.crudview-footer .btn-group .btn {
    width: 100%;
}

.crudview-footer .btn-group .btn-danger {
    margin-top: 10px;
    width: auto;
    float: right;
}

.multiview-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.form-view {
    min-height: 0 !important;
    overflow-x: hidden;
}

.modal-dialog .crudview-body, .modal-dialog .crudview-body .table-view {
    height: calc(100% - 40px);
}

.viewer-actions-reg {
    margin: 4px;
    text-align: right;
}

.cool-lb-title {
    font-weight: bold !important;
    font-size: 14px !important;
}

.cool-lb-image {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.z-north, .z-south, .z-center, .z-row-inner {
    border: none !important;
    border-left: none !important;
    background: none !important;
}

.z-listitem .z-listcell {
    border-left: none !important;
    border-bottom: 1px solid #F2F2F2 !important;
}

.z-grid {
    border: none !important;
}

.z-row .z-row-inner, .z-row .z-cell {
    border-left: none !important;
}

input[type=checkbox] {
    font-size: 14px;
}

.progress-primary .z-progressmeter-image {
    background-color: #3c8dbc !important;
}

.progress-warning .z-progressmeter-image {
    background-color: #f39c12 !important;
}

.progress-danger .z-progressmeter-image {
    background-color: #dd4b39 !important;
}

.progress-success .z-progressmeter-image {
    background-color: #00a65a !important;
}

.crudview-header, .actiontb {
    height: 40px !important;
    background: rgba(255, 255, 255, 0.4) !important;
}

.actiontb-container input, .actiontb-container .z-datebox-button,
.actiontb-container .z-combobox-button {
    height: 30px;
}

.actiontb-container .z-datebox-button, .actiontb-container .z-combobox-button
{
    line-height: 20px;
}

.actiontb-a.z-toolbarbutton {
    background: #ededed;
    height: 30px !important;
    min-width: 30px;
    text-align: center;
   
}



.actiontb-a .z-toolbarbutton-content {
    text-shadow: none;
    line-height: 26px;
}

.actiontb-a.z-toolbarbutton-checked {
    background-color: white;
}

.breadcrumb {
    background: #374850;
    color: white;
    border-radius: 0px !important;
}

.breadcrumb a {
    color: white !important;
}

.z-messagebox-information {
    background-image:
        url("../../../../../zkau/web/templates/bootstrap/img/info-icon.png")
        !important;
}

.z-messagebox-question {
    background-image:
        url("../../../../../zkau/web/templates/bootstrap/img/question-icon.png")
        !important;
}

.z-messagebox-error {
    background-image:
        url("../../../../../zkau/web/templates/bootstrap/img/error-icon.png")
        !important;
}

.z-messagebox-exclamation {
    background-image:
        url("../../../../../zkau/web/templates/bootstrap/img/exclamation-icon.png")
        !important;
}

.z-tabpanel{
    padding: 0px !important;
}

/*Mobile CSS */
@media ( max-width :767px) {
    .z-toolbar {
        padding: 0 !important;
    }
    .crudview-header {
        margin-top: 3px;
    }
}