html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    overflow: hidden;
    font-family: 'Roboto', sans-serif !important;

}

.wrapper {
    height: 96% !important;
    min-height: auto !important;
    margin: 0 auto 0 0;
    padding: 0;
}

.workspace {
    margin-top: 0;
}

.content-wrapper, .content-wrapper > .content, .workspace {
    height: 100%;
}

.content-wrapper {
    padding-bottom: 0px;
}

.content-header {
    height: 30px;
}

.pageContent {
    height: 100%;
    overflow: auto;
}

.logo .imglogo {
    vertical-align: middle;
    text-align: center;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    max-height: 45px;
}

li.title-menu {

}

li.title-menu a.z-a, li.title-menu a.z-a:hover {
    color: #367fa9;
    cursor: default !important;
    margin-left: 5px !important;
    padding-bottom: 0px !important;
}

li.title-menu a span {
    font-size: 11px !important;
}

.z-listbox-body {

}

.table-view .z-listheader,
.tree-view .z-treecol {

    border-color: gray;
}

.table-view .z-listheader-content,
.tree-view .z-treecol-content {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500;
    text-align: left;
}

.table-view .z-listbox-body, .tree-view .z-tree-body {
    background: white;
}

.sidebar-form .form-zcontrol a {
    background-color: #374850;
    border: 1px solid #5C5C5C;
}

.z-menupopup-separator {
    background: none !important;
}

.z-menu-content, .z-menuitem-content {
    line-height: 26px !important;
}

.z-borderlayout {
    background: none !important;
    width: 100% !important;
}

.crudview {

}

.crudview-header .z-toolbar {
    background: none;
    border: none;
}

.crudview-body {

}

.crudview-footer {
    margin: 4px;
}

.crudview-footer .btn-group {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.crudview-footer .btn-group .btn {
    width: 100%;
}

.crudview-footer .btn-group .btn-danger {
    width: auto;
    float: right;
}

.multiview-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.form-view {
    min-height: 0 !important;
    overflow-x: hidden;
    padding-top: 10px;
}

.modal-dialog .crudview-body, .modal-dialog .crudview-body .table-view {
    height: calc(100% - 40px);
}

.viewer-actions-reg {
    margin: 4px;
    text-align: right;
}

.cool-lb-title {
    font-weight: bold !important;
    font-size: 14px !important;
}

.cool-lb-image {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.z-north, .z-south, .z-center, .z-row-inner {
    border: none !important;
    border-left: none !important;
    background: none !important;
}

.z-listitem .z-listcell {
    border-left: none !important;
    border-bottom: 1px solid #F2F2F2 !important;
}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
}

.z-grid {
    border: none !important;
}

.z-row .z-row-inner, .z-row .z-cell {
    border-left: none !important;
}

.z-listbox-footer {
    border-top: 0;
}

input[type=checkbox] {
    font-size: 14px;
}

.progress-primary .z-progressmeter-image {
    background-color: #3c8dbc !important;
}

.progress-warning .z-progressmeter-image {
    background-color: #f39c12 !important;
}

.progress-danger .z-progressmeter-image {
    background-color: #dd4b39 !important;
}

.progress-success .z-progressmeter-image {
    background-color: #00a65a !important;
}

.crudview-header, .actiontb {
    height: 40px !important;
    background: rgba(255, 255, 255, 0.4) !important;
}

.actiontb-container input, .actiontb-container .z-datebox-button,
.actiontb-container .z-combobox-button {
    height: 30px;
}

.actiontb-container .z-datebox-button, .actiontb-container .z-combobox-button {
    line-height: 20px;
}

.crudview-header .actiontb-container {
    display: flex;
}

.actiontb-left {

}

.actiontb-right {
    justify-content: flex-end;
    display: flex;
    flex: 1;
}

.actiontb-a.z-toolbarbutton {
    background: #ededed;
    height: 30px !important;
    min-width: 30px;
    text-align: center;
}

.actiontb-a.btn {
    padding: 5px 7px;
}

.actiontb-a .z-toolbarbutton-content {
    text-shadow: none;

}

.actiontb-a.z-toolbarbutton-checked {
    background-color: white;
}

.breadcrumb {
    background: #374850;
    color: white;
    border-radius: 0px !important;
}

.breadcrumb a {
    color: white !important;
}

.z-messagebox-information {
    background-image: url("../../../../../zkau/web/templates/bootstrap/img/info-icon.png") !important;
}

.z-messagebox-question {
    background-image: url("../../../../../zkau/web/templates/bootstrap/img/question-icon.png") !important;
}

.z-messagebox-error {
    background-image: url("../../../../../zkau/web/templates/bootstrap/img/error-icon.png") !important;
}

.z-messagebox-exclamation {
    background-image: url("../../../../../zkau/web/templates/bootstrap/img/exclamation-icon.png") !important;
}

.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}

.pageContent .z-window-content {
    padding: 10px;
    background: #ecf0f5;
}

.panel-danger {
    border-color: #d9534f !important;
}

.panel-danger > .panel-heading {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}

.panel-warning {
    border-color: #f0ad4e !important;
}

.panel-warning > .panel-heading {
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
}

.panel-success {
    border-color: #5cb85c !important;
}

.panel-success > .panel-heading {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
}

.DeleteAction {
    background-color: #ef5350 !important;
}

.NewAction {
    background-color: #00b19d !important;
}

.EditAction {
    background-color: #ffaa00 !important;
}

.ViewDataAction {
    background-color: #3bafda !important;
}

.NewAction i, .DeleteAction i, .EditAction i, .ViewDataAction i {
    color: white !important;
}

.FindAction {

}

.FindAction input {
    background: none;
    border: 1px solid silver;
    border-radius: 30px;
    padding-left: 15px;
    width: 220px !important;
}

.FindAction input:focus {
    outline: none;
    border: 0;
}

/*Mobile CSS */
@media ( max-width: 767px) {
    .z-toolbar {
        padding: 0 !important;
    }

    .crudview-header {
        margin-top: 3px;
    }
}

.z-comboitem-selected .z-comboitem-text {
    color: #fff;
    text-shadow: none;
}

.card-box:empty {
    display: none;
}

.z-menuitem-text {
    font-size: 14px;
}

.form-view-title {
    margin-left: 8px;
    margin-bottom: 5px;
    color: #848484;
    margin-top: 3px;
}

.z-tabpanel {
    background: #fbfbfb;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0 !important;
    padding: 8px;
}

.z-tabs-content {
    border: 0 !important;
}

.z-tab {
    border: 1px solid #ebebeb !important;
    background: #fdfdfd;
    margin-right: 2px !important;
}

.z-tab-selected .z-tab-text {
    font-weight: normal;
}

.z-toolbar.z-toolbar-tabs {
    background-color: none !important;
    background: none !important;
    border: 0 !important;
}

.tabpage .z-tab-text {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500;
    text-align: left;
}

.tabpage.z-tab {
    background: rgba(245, 245, 245, 0.59) !important;
    border: 0 !important;
    border-top: 0 !important;
    border-radius: 0px;
}

.tabpage.z-tab:hover {
    background: #ffffff !important;
}

.tabpage.z-tab-selected {
    background: #fbfbfb !important;
    border-bottom: 1px solid #fbfbfb !important;
}

.z-tabbox-top > .z-tabs .tabpage.z-tab:first-child.z-tab-selected + .z-tab,
.z-tabbox-top > .z-tabs .z-tab:first-child.z-tab-selected + .z-tab,
.z-tabbox-top > .z-tabs .z-tab.z-tab-selected {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.workspace{
  background: #eaeaea;
}

.workspace  > .z-tabbox{
    background: none;
    border: none;
}

.workspace > .z-tabbox > .z-tabs{
    background: none;
}

.workspace > .z-tabbox > .z-tabs .z-tab-content{
    padding-right: 5px;
}

.workspace > .z-tabbox > .z-tabs .z-tab-icon{
    left: 0;
}

.main-header .icon {
    display: none;
}

.main-footer {
    padding: 10px !important;
    border: 0 !important;
}

.sidebar-collapse .main-header .icon {
    width: 50px;
    height: 50px;
    padding: 3px;
    float: left;
    display: inline;
}

.sidebar-collapse .main-header .logo {
    display: none;
}

.sidebar-expanded-on-hover .main-header .icon {
    display: none;
}

.btn img {
    padding: 1px;
}

@media (max-width: 767px) {
    .fixed .content-wrapper, .fixed .right-side {
        padding-top: 15px;
    }

    .main-sidebar {
        padding-top: 55px;
    }

    .z-tabpanel {
        padding: 0;
    }

    .content {
        margin: 0;
        padding: 0;
    }

    footer {
        display: none;
    }

    .wrapper {
        height: 100%;
    }

    .crudview-header, .actiontb {
        height: auto !important;
    }
}