.skin-dracula {
    --dt-primary-color: #282a36;
    --dt-primary-color-light: #3a3f4f;
    --dt-primary-color-dark: #22232d;
    --dt-ascent-color: #0093F9;
    --dt-text-color: #b1b6c5;
    --dt-placehoder-color: #4d5465;
    --dt-focus: #22232d;
    --dt-background-color: #282a36;
    --dt-text-highlight: #f5f4f4;
    --dt-danger-color: #fb394b;

    --dt-header-color: var(--dt-primary-color);
    --dt-border-color: var(--dt-primary-color-light);

    background-color: var(--dt-primary-color) !important;
}

.skin-dracula .sidebar-wrapper .sidebar-menu > .nav-item.menu-open > .nav-link,
.skin-dracula .sidebar-wrapper .sidebar-menu > .nav-item:hover > .nav-link,
.skin-dracula .sidebar-wrapper .sidebar-menu > .nav-item > .nav-link:focus {
    background-color: var(--dt-ascent-color);
}


.baseBackgroundColor {
    background-color: var(--dt-background-color);
}

.baseColor {
    color: var(--dt-primary-color);
}

.skin-dracula .bg-body {
    background: var(--dt-primary-color) !important;
}

.skin-dracula .sidebar-brand {
    background: var(--dt-primary-color-dark) !important;
}


.skin-dracula .table-view .z-listheader-hover,
.skin-dracula .tree-view .z-treecol-hover {
    background: var(--dt-header-color) !important;
}

.skin-dracula .table-view .z-listheader-content,
.skin-dracula .tree-view .z-treecol-content,
.skin-dracula .z-listheader-content,
.skin-dracula .z-treecol-content {
    color: var(--dt-text-color) !important;
}

.skin-dracula .app-header .fa, .skin-dracula .app-header .fas {
    color: var(--dt-text-color);
}


.skin-dracula.login-page, .skin-dracula .register-page, .skin-dracula .card, .skin-dracula .panel,
.skin-dracula .z-tabpanel, .skin-dracula .pageContent .z-window-content, .skin-dracula .z-window,
.skin-dracula .z-tabs, .skin-dracula .z-toolbar.z-toolbar-tabs, .skin-dracula .z-tabbox,
.skin-dracula .actiontb {
    background: var(--dt-background-color) !important;
}

.skin-dracula .crudview-header {
    background: var(--dt-header-color) !important;
}

.skin-dracula .z-tab-selected .z-tab-button {
    color: var(--dt-ascent-color);
}

.skin-dracula .card {
    border-color: var(--dt-primary-color-light) !important;
}

.skin-dracula .z-tabbox, .skin-dracula .app-header {
    border-color: var(--dt-border-color);
}

.skin-dracula input, .skin-dracula textarea {
    background: var(--dt-background-color) !important;
    border-color: var(--dt-primary-color-light);
    color: var(--dt-text-color);
}

.skin-dracula input:focus, .skin-dracula textarea:focus {
    color: var(--dt-text-color);
}

.skin-dracula .z-textbox-inplace,
.skin-dracula .z-decimalbox-inplace,
.skin-dracula .z-intbox-inplace,
.skin-dracula .z-longbox-inplace,
.skin-dracula .z-doublebox-inplace {
    border-color: transparent !important;
}

.skin-dracula ::placeholder {
    color: var(--dt-placehoder-color);
}

.skin-dracula .input-group-text {
    color: var(--dt-text-color);
    background-color: var(--dt-primary-color-light);
    border-color: var(--dt-primary-color-light);
}

.skin-dracula .z-window {
    border-color: var(--dt-primary-color);
}

.skin-dracula .z-label, .skin-dracula .form-view-lbl, .skin-dracula label {
    color: var(--dt-text-color);
}

.skin-dracula .bg-body-secondary {
    background-color: var(--dt-primary-color) !important;
}

.skin-dracula .tabpage.z-tab-selected {
    background-color: var(--dt-background-color) !important;
    border-color: var(--dt-primary-color-light) !important;
    box-shadow: none !important;
}

.skin-dracula .tabpage.z-tab {
    background-color: var(--dt-primary-color) !important;
}

.skin-dracula .tabpage .z-tab-text {
    color: var(--dt-text-color);
}

.skin-dracula .tabpage.z-tab-selected .z-tab-text {
    color: var(--dt-ascent-color);
}

.skin-dracula .btn.btn-default, .skin-dracula .z-toolbarbutton {
    background-color: var(--dt-primary-color-light);
    color: var(--dt-text-color);
}

.skin-dracula .btn.btn-default:hover, .skin-dracula .z-toolbarbutton:hover {
    background-color: var(--dt-primary-color-dark);
    color: var(--dt-text-color);
}


.skin-dracula .crudview .table-view .z-listheader,
.skin-dracula .crudview .table-view .z-listbox-header,
.skin-dracula .crudview .tree-view .z-treecol,
.skin-dracula .crudview .tree-view .z-tree-header,
.skin-dracula .z-listheader,
.skin-dracula .z-listbox-header,
.skin-dracula .z-listhead-bar,
.skin-dracula .z-treecol,
.skin-dracula .z-tree-header,
.skin-dracula .z-listbox-footer,
.skin-dracula .z-listfooter {
    background: var(--dt-header-color) !important;
    border-left: 1px solid var(--dt-header-color);
    border-color: var(--dt-header-color);
}

.skin-dracula .crudview .table-view .z-listheader:hover,
.skin-dracula .crudview .table-view .z-listbox-header:hover,
.skin-dracula .crudview .tree-view .z-treecol:hover,
.skin-dracula .crudview .tree-view .z-tree-header:hover {
    background: var(--dt-background-color) !important;
    border-left: 1px solid var(--dt-primary-color) !important;
}

.skin-dracula .z-listbox,
.skin-dracula .table-view .z-listbox-body,
.skin-dracula .tree-view .z-tree-body,
.skin-dracula .z-tree {
    background: var(--dt-primary-color);
    border-color: var(--dt-border-color);
}

.skin-dracula .z-listbox .z-listcell, .skin-dracula .z-listitem .z-listcell, .skin-dracula .z-treerow .z-treecell {
    background: var(--dt-background-color);
    border-color: var(--dt-border-color);
}


.skin-dracula .z-listitem-selected .z-listcell,
.skin-dracula .z-treerow-selected .z-treecell {
    background: var(--dt-ascent-color);
}

.skin-dracula .z-listcell-content, .skin-dracula .z-listgroup-content, .skin-dracula .z-listgroupfoot-content, .skin-dracula .z-listfooter-content {
    color: var(--dt-text-color);
}

.skin-dracula .z-listitem-selected .z-listcell .z-listcell-content,
.skin-dracula .z-listitem-selected .z-listcell .z-listcell-content .z-label,
.skin-dracula .z-treerow-selected .z-treecell .z-treecell-content,
.skin-dracula .z-treerow-selected .z-treecell .z-treecell-content .z-label {
    color: var(--dt-text-highlight) !important;
}


.skin-dracula .multi-view .multi-view-tab, .skin-dracula .z-tab {
    background: var(--dt-primary-color-light);
    border-color: var(--dt-primary-color-light) !important;;
}

.skin-dracula .multi-view .multi-view-tab .z-tab-text, .skin-dracula .z-tab-text {
    color: var(--dt-text-color);
}

.skin-dracula .multi-view .multi-view-tab.z-tab-selected {
    background: var(--dt-background-color) !important;
    border-color: var(--dt-primary-color) !important;
}

.skin-dracula .multi-view .multi-view-tab.z-tab-selected .z-tab-text,
.skin-dracula .z-tab-selected .z-tab-text {
    color: var(--dt-ascent-color);
}

.skin-dracula .z-menupopup,
.skin-dracula .z-combobox-popup, .skin-dracula .z-bandbox-popup, .skin-dracula .z-datebox-popup, .skin-dracula .z-timebox-popup {
    background: var(--dt-primary-color-light);
    border-color: var(--dt-primary-color-dark);
}

.skin-dracula .z-menupopup .z-menu-content, .skin-dracula .z-menupopup .z-menuitem-content {
    background: var(--dt-primary-color-light);
    border-color: var(--dt-primary-color-light);;
    color: var(--dt-text-highlight);
}

.skin-dracula .z-menuitem-content {
    color: var(--dt-text-color);
}

.skin-dracula .z-menuitem-content:hover, .skin-dracula .z-caption-content, .skin-dracula .z-tree-icon {
    color: var(--dt-text-highlight);
}

.skin-dracula .z-menupopup .z-menuseparator {
    color: var(--dt-primary-color-dark);
}

.skin-dracula .z-window-content {
    background: var(--dt-primary-color);
}


.skin-dracula .z-east-splitter, .skin-dracula .z-west-splitter, .skin-dracula .z-north-splitter, .skin-dracula .z-south-splitter {
    background: var(--dt-primary-color-light);
}

.skin-dracula .z-north, .skin-dracula .z-south, .skin-dracula .z-west, .skin-dracula .z-center, .skin-dracula .z-east {
    border-color: var(--dt-background-color);
    background: var(--dt-primary-color);
}

.skin-dracula .z-tree-icon i {
    color: var(--dt-primary-color-light) !important;
}

.skin-dracula .z-treecell-content i {
    color: var(--dt-text-highlight);
}

.skin-dracula .z-north-header, .skin-dracula .z-south-header,
.skin-dracula .z-west-header, .skin-dracula .z-center-header, .skin-dracula .z-east-header {
    background: var(--dt-primary-color-dark);
    color: var(--dt-text-color);
}

.skin-dracula .z-east-title, .skin-dracula .z-west-title, .skin-dracula .z-north-title, .skin-dracula .z-south-title,
.skin-dracula .z-window-header, .skin-dracula .z-window-icon {
    color: var(--dt-text-highlight);
}

.skin-dracula .z-north-collapsed,
.skin-dracula .z-south-collapsed,
.skin-dracula .z-west-collapsed,
.skin-dracula .z-center-collapsed,
.skin-dracula .z-east-collapsed {
    background: var(--dt-ascent-color);
}

.skin-dracula .user-menu, .skin-dracula .user-menu a.nav-link,
.skin-dracula .user-menu p, .skin-dracula .user-menu small {
    color: var(--dt-text-color);
}


.skin-dracula .user-menu .user-header {
    background-color: var(--dt-primary-color-dark) !important;
}

.skin-dracula .user-menu .user-footer {
    background-color: var(--dt-primary-color-dark) !important;
}

.skin-dracula .navbar-nav .nav-link.active, .skin-dracula .navbar-nav .nav-link.show {
    color: var(--dt-text-highlight);;
}

.skin-dracula .text-danger {
    color: var(--dt-danger-color);
}

.skin-dracula .modal-dialog {
    --bs-modal-bg: var(--dt-background-color);
    --bs-modal-color: var(--dt-text-highlight);

}

.skin-dracula .btn-close {
    background: var(--dt-danger-color);
    padding: 2px;
    border-radius: 50%
}

.skin-dracula .z-bandbox-button,
.skin-dracula .z-combobox-button {
    background-color: var(--dt-primary-color);
    color: var(--dt-text-highlight);
    border-color: var(--dt-primary-color-light);
}


.skin-dracula .z-comboitem, .skin-dracula .z-comboitem a, .skin-dracula .z-comboitem a:visited {
    color: var(--dt-text-color);
}

.skin-dracula .z-comboitem:hover {
    background-color: var(--dt-ascent-color);
}

.skin-dracula .z-menu-content, .skin-dracula .z-menuitem-content {
    background-color: var(--dt-primary-color-light);
}

.skin-dracula .z-menu-text {
    color: var(--dt-text-color);
}

.skin-dracula .z-menubar {
    background-color: var(--dt-primary-color);
    border-color: var(--dt-primary-color);
}

.skin-dracula .z-menubar-horizontal li {
    margin-top: 0;
}

.skin-dracula .z-menu-icon {
    color: var(--dt-text-color);
}

.skin-dracula .z-paging {
    background-color: var(--dt-primary-color);
}

.skin-dracula .z-paging-icon, .skin-dracula .z-paging-text, .skin-dracula .z-paging-info {
    color: var(--dt-text-color);
}

.skin-dracula ::-webkit-scrollbar-track {
    background: var(--dt-primary-color-light);
}

.skin-dracula .z-grid .z-row-inner, .skin-dracula .z-grid .z-cell {
    background: var(--dt-background-color) !important;
}