/*
background-color: #f39c12
color: 
*/


.skin-orange .z-listitem.z-listitem-selected >.z-listcell,
.skin-orange .z-listitem.z-listitem-selected:hover >.z-listcell,
.skin-orange .z-comboitem-selected,
.skin-orange .z-calendar-selected,
.skin-orange .z-progressmeter-image  {
	border-color: #f39c12 !important;
	background: #f39c12 !important;
}