/*
background-color: #dd4b39
color: 
*/


.skin-red .z-listitem.z-listitem-selected >.z-listcell,
.skin-red .z-listitem.z-listitem-selected:hover >.z-listcell,
.skin-red .z-comboitem-selected,
.skin-red .z-calendar-selected,
.skin-red .z-progressmeter-image  {
	border-color: #dd4b39 !important;
	background: #dd4b39 !important;
}

.baseBackgroundColor{
	background-color: #dd4b39
}

.baseColor{
	color: #dd4b39
}

.z-listheader-content{
	color: #dd4b39 !important;
}