/*
background-color: #00a65a
color: 
*/


.skin-green .z-listitem.z-listitem-selected >.z-listcell,
.skin-green .z-listitem.z-listitem-selected:hover >.z-listcell,
.skin-green .z-comboitem-selected,
.skin-green .z-calendar-selected,
.skin-green .z-progressmeter-image  {
	border-color: #00a65a !important;
	background: #00a65a !important;
}

.baseBackgroundColor{
	background-color: #00a65a
}

.baseColor{
	color: #00a65a
}

.z-listheader-content{
	color: #00a65a !important;
}