html, body {
	margin: 0;
	padding: 0;
	height: 100% !important;
}

.wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto 0 0;
	padding: 0;
}

.content-wrapper, .content-wrapper>.content, .workspace {
	height: 100%;
}

.content-wrapper {
	padding-bottom: 40px;
}

.content-header {
	height: 40px;
}

.logo .imglogo {
	vertical-align: middle;
	text-align: center;
	padding-top: 4px;
	margin-left: auto;
	margin-right: auto;
	max-height: 45px;
}

li.title-menu {
	
}

li.title-menu a.z-a, li.title-menu a.z-a:hover {
	color: #367fa9;
	cursor: default !important;
	margin-left: 5px !important;
	padding-bottom: 0px !important;
}

li.title-menu a span {
	font-size: 11px !important;
}

.z-listbox-body {
	
}

.table-view .z-listbox-body {
	
}

.form-zcontrol {
	display: block !important;
	line-height: 1.42857143;
}

.form-zcontrol .z-combobox-popup {
	display: none !important;
}

.form-zcontrol .z-combobox-readonly {
	background-color: white;
}

.form-zcontrol input {
	width: calc(100% - 25px) !important;
	padding: 6px 12px;
	height: 34px;
	font-size: 14px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	box-shadow: none;
}

.form-zcontrol input:focus {
	border-color: #3c8dbc !important;
	box-shadow: none;
}

.form-zcontrol a {
	height: 34px;
	line-height: 24px;
}

.form-zcontrol .z-bandbox-popup {
	width: auto !important;
}

.form-group .z-label {
	display: block
}

.form-group .conv-zero, .form-group .conv-positive, .form-group .conv-negative
	{
	font-size: 20px;
	color: gray;
	border: 1px solid silver;
	padding: 3px;
	text-align: right;
}

.form-group .conv-positive {
	color: #62B300;
}

.form-group .conv-negative {
	color: maroon;
}

.z-checkbox-content {
	font-family: inherit !important;
	font-weight: inherit !important;
	font-size: inherit !important;
	padding-left: 3px;
}

.form-group .z-radiogroup {
	display: block;
}

.z-menupopup-separator {
	background: none !important;
}

.z-menu-content, .z-menuitem-content {
	line-height: 26px !important;
}

.z-borderlayout {
	background: none !important;
	width: 100% !important;
}

.crudview {
	padding-left: 10px;
	padding-right: 10px;
}

.crudview-header .z-toolbar {
	background: none;
	border: none;
}

.crudview-body {
	
}

.crudview-footer {
	margin: 4px;
}

.crudview-footer .btn-group {
	margin-top: 8px;
	margin-left: 2px;
	margin-right: 2px;
}

.crudview-footer .btn-group .btn {
	width: 100%;
}

.crudview-footer .btn-group .btn-danger {
	margin-top: 10px;
	width: auto;
	float: right;
}

.multiview-panel {
	overflow-y: auto;
	overflow-x: hidden;
}

.form-view {
	min-height: 0 !important;
}

.modal-dialog .crudview-body, .modal-dialog .crudview-body .table-view {
	height: calc(100% - 40px);
}

.viewer-actions-reg {
	margin: 4px;
	text-align: right;
}

.cool-lb-title {
	font-weight: bold !important;
	font-size: 14px !important;
}

.cool-lb-image {
	border: 2px solid white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.z-north, .z-south, .z-west, .z-center, .z-east, .z-row-inner {
	border: none !important;
	border-left: none !important;
	background: none !important;
}

.z-north, .z-south, .z-center, .z-north-body, .z-center-body {
	width: 100% !important;
}

.z-listitem .z-listcell {
	border-left: none !important;
	border-bottom: 1px solid #F2F2F2 !important;
}

.z-grid {
	border: none !important;
}

.z-row .z-row-inner, .z-row .z-cell {
	border-left: none !important;
}

input[type=checkbox] {
	font-size: 14px;
}

.spacer, .spacer-top {
	margin-top: 40px;
}

.spacer-bottom {
	margin-bottom: 40px;
}

.pd5 {
	padding: 5px;
}

.pd10 {
	padding: 10px;
}

.pd20 {
	padding: 20px;
}

.progress-primary .z-progressmeter-image {
	background-color: #3c8dbc !important;
}

.progress-warning .z-progressmeter-image {
	background-color: #f39c12 !important;
}

.progress-danger .z-progressmeter-image {
	background-color: #dd4b39 !important;
}

.progress-success .z-progressmeter-image {
	background-color: #00a65a !important;
}