.separator {
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    background: #006699;
}

.separator * {
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 10pt;
}

.form-view tr.z-row td.z-row-inner {
    border: none;
    background: white;
}


.form-view {
    border: none;    
}


.form-view .z-row:hover>.z-row-inner, .z-row:hover>.z-cell{
    background: none;
}

tr.z-row td.z-row-inner,tr.z-row td.z-cell {
    border: none;
}

.form-view-lbl {

}

.crud-toolbar td.z-hbox-sep {
    width: 0px;
    padding: 0px;
}

.z-toolbar{
    border:0;
}


.entitypicker .z-bandbox-inp {
    font-style: italic;
    color: silver;
}

.entitypicker-changing .z-bandbox-inp {
    color: black;
    font-style: normal;
}

.entitypicker-selected .z-bandbox-inp {
    color: black;
    font-style: normal;
    font-weight: bold;
}

.tableDefaultItem {
    color: #296900;
    background-color: #D0FFD0
}


.table-view .z-listitem .z-listcell{
    // background: none;
}

.nullvalue{
    font-style: italic;
    color: silver;
}